<div>
    <h1>Detalles del Producto</h1>

    <h2>{{product.title}}</h2>
    <p><strong>Descripción:</strong> {{product.description}}</p>
    <p><strong>Precio:</strong> ${{product.price}}</p>
    <p><strong>Categoría:</strong> {{product.category}}</p>

    <button id="add-to-cart" data-id="{{product._id}}">Agregar al carrito</button>
    
    <a href="/">Volver a la lista de productos</a>
</div>

